.body {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;

  .contenedor {
      display: flex;
      flex-direction: column;
      align-items: center;

      .btn {
        background-color: #20355A;
        border: none;
        padding: 4px 10%;
        border-radius: 5px;
        color: white;
        font-size: 18px;

        @media (hover:hover) {

         &:hover {
           cursor: pointer;
         }

        }
      }


  }

  .logo2 {
      width: 600px;
  }

}
